@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    @apply bg-primary text-secondary;
  }
  h1 {
    @apply text-[32px] font-bold text-secondary leading-h1;
    @apply xl:text-[64px] xl:leading-h1XL;
  }
  h2 {
    @apply text-[32px] font-bold text-secondary leading-h2XL;
  }
  h3 {
    @apply text-2xl font-bold text-secondary leading-h3XL;
  }
  h4 {
    @apply text-xl leading-h4XL;
  }
  input {
    @apply outline-none pb-5  border-solid border-b-2 border-gray text-lg text-secondary;
  }
  textarea {
    @apply bg-primary outline-none pb-0 border-solid border-b-2 border-gray text-lg text-secondary resize-none;
  }
}

@layer components {
  .btn {
    @apply text-lg text-secondary border-solid border-[1px] py-5 px-[45px] flex gap-[10px] items-center cursor-pointer rounded-lg;
  }
  .btnGradient {
    background: linear-gradient(90deg, #d2459d -13.66%, #4383ff 100%);
    @apply relative  text-lg text-secondary py-5 px-[45px] flex gap-[10px] items-center border-none cursor-pointer rounded-lg;
  }
  .containerMain {
    @apply max-w-[1180px] mx-auto;
  }
  .modal {
    @apply flex items-center justify-center fixed w-full h-full top-0 bottom-0 left-0 right-0 bg-modal;
  }
  .modal-content {
    box-shadow: 1px 1px 40px 1px #ffffff08;
    @apply absolute top-0  bg-primary w-full h-full pt-[116px] px-[48px] flex flex-col gap-[66px] rounded-none mt-14;
    @apply xl:top-[80px] xl:h-auto xl:max-w-[613px] xl:py-10 xl:overflow-clip xl:rounded-2xl;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.slug {
  background: linear-gradient(
    216.56deg,
    #bdc3c7 0%,
    #bdc3c7 25%,
    #bdc3c7 45%,

    #ecf0f1 50%,
    #656869 55%,

    #e6e6e6 75%,
    #ffffff 100%
  );
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.btnGradient:before {
  position: absolute;
  z-index: -1;
  top: 2px;
  right: 2px;
  bottom: 0;
  left: 5px;
  border-radius: 6px;
  background: conic-gradient(
    from 147.14deg at 50% 50%,
    #0294fe -55.68deg,
    #ff2136 113.23deg,
    #9b4dff 195deg,
    #0294fe 304.32deg,
    #ff2136 473.23deg
  );
  content: "";
  filter: blur(30px);
  opacity: 0.6;
}
.btn:before {
  position: absolute;
  z-index: -1;
  top: 2px;
  right: 2px;
  bottom: 0;
  left: 5px;
  border-radius: 6px;
  background: conic-gradient(
    from 147.14deg at 50% 50%,
    #0294fe -55.68deg,
    #ff2136 113.23deg,
    #9b4dff 195deg,
    #0294fe 304.32deg,
    #ff2136 473.23deg
  );
  content: "";
  filter: blur(30px);
  opacity: 0.6;
}
