@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-secondary;
  }
  h1 {
    @apply text-[32px] font-bold text-secondary leading-h1;
    @apply xl:text-[64px] xl:leading-h1XL;
  }
  h2 {
    @apply text-[32px] font-bold text-secondary leading-h2XL;
  }
  h3 {
    @apply text-2xl font-bold text-secondary leading-h3XL;
  }
  h4 {
    @apply text-xl leading-h4XL;
  }
  input {
    @apply bg-primary outline-none pb-5 border-solid border-b-2 border-gray text-lg text-secondary;
  }
  textarea {
    @apply bg-primary outline-none pb-0 border-solid border-b-2 border-gray text-lg text-secondary resize-none h-40;
  }
}

@layer components {
  .btn {
    @apply text-lg text-secondary border-solid border-[1px] py-5 px-[45px] flex gap-[10px] items-center;
  }
  .btnGradient {
    background: linear-gradient(90deg, #d2459d -13.66%, #4383ff 100%);
    @apply text-lg text-secondary py-5 px-[45px] flex gap-[10px] items-center border-none;
  }
  .containerMain {
    @apply max-w-[1180px] mx-auto;
  }
  .modal {
    @apply flex items-center justify-center fixed w-full h-full top-0 bottom-0 left-0 right-0 bg-modal overflow-y-scroll;
  }
  .modal-content {
    box-shadow: 1px 1px 40px 1px #ffffff08;
    @apply absolute top-0  bg-primary w-full max-w-[613px] h-full  pt-[116px] px-[48px] flex flex-col gap-[66px] overflow-y-scroll;
    @apply xl:top-[80px] xl:h-auto  xl:py-10 xl:overflow-clip;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
